POSTGRES_USER=postgres
POSTGRES_PASSWORD=TuPasswordSeguro123!
JWT_KEY=ClaveSecretaSuperLargaYSeguraParaJWT2024!
GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google
